@tailwind base;
@tailwind components;
@tailwind utilities;


.active:hover {
    color: green;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-bottom: 5px;
    position: absolute;
    top: 98%;

  }
  